<form>
    <div class="container" ng-controller="StartCtrl">
        <div class="row row-centered">
            <div class="well well-lg">
                <p class="text-center">{{ user.name }},</p>
                <p class="text-center">you are about to start parking in</p>
                <p class="text-center"><b>{{ selectedArea.name }}</b></p>
            </div>
        </div>
        <div class="row row-centered">
            <div class="well well-lg">
                <p>Select car to start parking...</p>
                <span ng-repeat="x in licensePlates">
                <button class="button btn btn-default btn-success" value=""
                        ng-click="update({x})"
                        >{{x}}</button>&nbsp;&nbsp;
                </span>
                <button class="button btn btn-default btn-danger" value="" ng-click="back()">Back to Map</button>
            </div>
        </div>
    </div>
</form>
