<form>
    <div class="container" ng-controller="StartCtrl">
        <div class="row row-centered">
            <div class="well well-lg">
                <p class="text-center">Hi {{ user.name }}.</p>
            </div>
        </div>
        <div class="row row-centered">
            <div class="well well-lg">
                <select class="button btn btn-default dropdown-toggle btn-success" 
                        ng-model="selectedLicensePlate" 
                        ng-options="x for x in licensePlates"
                        ng-change="update()">
                    <option value="" disabled selected>Select car to start parking...</option>
                </select>
            </div>
        </div>
    </div>
</form>
