    <table class="table table-condensed">
      <thead>
        <tr>
          <th>Area</th>
          <th>Capacity</th>
          <th>Occupied</th>
          <th>Paying</th>
        </tr>
      </thead>
      <tbody>
        <tr class="success">
          <td>Central</td>
          <td>52</td>
          <td>16</td>
          <td>15</td>
        </tr>
        <tr class="danger">
          <td>Stadium</td>
          <td>108</td>
          <td>66</td>
          <td>45</td>
        </tr>
        <tr class="danger">
          <td>P&R south</td>
          <td>41</td>
          <td>22</td>
          <td>16</td>
        </tr>
      <tbody>
    </table>
