<table class="table table-condensed">
    <thead>
        <tr>
            <th>Area</th>
            <th>Capacity</th>
            <th>Occupied</th>
            <th>Paying</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="area in areaInfo" class="{{area.attentionClass}}" ng-controller="EnforcementCtrl">
            <td>{{area.areaName}}</td>
            <td>{{area.capacity}}</td>
            <td>{{area.occupied}}</td>
            <td>{{area.paying}}</td>
        </tr>
    <tbody>
</table>
<p><get-version></get-version></p>
